<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<p align="center">
<h1>Add Book</h1>
<form action="#" method="post" th:action="@{/savebook}" th:object="${book}" >
    <p>Name: <input type="text" th:field="*{title}" /></p>
    <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
    <p>Author: <select class="form-control" th:field="${book.author}"  id="dropAuthors">
        <option value="0">select author</option>
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName}"></option>
    </select>


    </p>
    <p>Publisher:
        <select class="form-control" th:field="${book.publisher}"  id="dropPublisher">
            <option value="0">select publisher</option>
            <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
        </select>
      </p>
    <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
</form>
</p>
</body>
</html>