<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
</head>
<body>
<a href="/saveauthors">Add Author</a>
<a href="/">Home</a>
<hr>
<p align="center">
<h1>Author list</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>

    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Malesela</td>
        <td th:text="${author.lastName}">Team</td>
    </tr>



   </table>
</p>
</body>
</html>