<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <title>Book List</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="nav-item nav-link" href="/savebook">Add Book</a>
        <a class="nav-item nav-link" href="/menu">Home</a>
        <a class="nav-item nav-link" href="/">logout</a>

        <div class="ml-auto p-2">
            <form class="form-inline" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<hr>
<div class="container">
    <h1 class="header-panel">Book list</h1>

<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Category</th>
        <th>Edition</th>
        <th>Year published</th>
        <th>Action</th>

    </tr>
    </thead>
    <thead>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">123</td>
        <td th:text="${book.isbn}">kmjn001</td>
        <td><a th:href="@{/author/books/{id}(id=${book.author.id})}" th:text="${book.author.firstName}">Malesela</a></td>
        <td><a th:href="@{/publisher/books/{id}(id=${book.publisher.id})}" th:text="${book.publisher.name}">Team</a></td>
        <td th:text="${book.category.name}">IT</td>
        <td th:text="${book.edition}">5th</td>
        <td th:text="${#dates.format(book.yearPublished,'dd/MM/yyyy')}">2018</td>
        <td><a th:href="@{/updateBook/{isbn}(isbn=${book.isbn})}" class="btn btn-success">Edit</a><a th:href="@{/deleteBook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
    </tr>
    </thead>
</table>
    </div>
</div>
</body>
</html>