<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
</head>
<body>


<a href="/savepublishers">Add Publisher</a>
<a href="/">Home</a>
<hr>



<p align="center">
<h1>Author list</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>

    </tr>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}">123</td>
        <td th:text="${publisher.name}">Malesela</td>
        <td th:text="${publisher.address}">pennyville</td>
    </tr>



</table>
</p>
</body>
</html>