<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Author List</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="nav-item nav-link" href="/savepublishers">Add Publisher</a>
        <a class="nav-item nav-link" href="/menu">Home</a>
        <a class="nav-item nav-link" href="/">logout</a>

        <div class="ml-auto p-2">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<hr>

<div class="container">
    <h1>Publishers list</h1>
    <div class="row col-md-8 table-responsive">
        <table id="booksTable" class="table table-hover">
            <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>

    </tr>
            </thead>
            <thead>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.name}">Malesela</td>
        <td th:text="${publisher.address}">pennyville</td>
        <td th:text="${publisher.email}">team@gmail.com</td>
        <td><a th:href="@{/findpublisher/{id}(id =${publisher.id})}" class="btn btn-success">Edit</a>
           <a th:href="@{/deletepublisher/{id}(id =${publisher.id})}" class="btn btn-danger">Delete</a></td>
    </tr>
            </thead>



</table>
    </div>
</div>

</body>
</html>